.Feedback_cont{
    display: flex;
    flex-direction: column;
    justify-content: left;
    place-items: center;
    padding: 2rem;
}

.Feedback_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
  }
  